.ui-page-login,
body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.mui-content{height: 100%;}

.mui-bar-nav{
	background-color: #64c987;
}
body{
	font-family: "微软雅黑";
	color: #393939;
}
.mui-bar-nav a,.mui-bar-nav h1{
	color: white;
}
