body {
	background: #d2e6e9;
}

.panel {
	margin: .5em;
	border: none;
}

.panel-info>.panel-heading {
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#ebebeb),
		to(#f3f9fa), color-stop(30%, #f5f9f9));
	color: #666666;
	border: none;
}

a {
	color: #666666;
}

a:hover {
	color: #3ebacc;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
	{
	color: #3ebacc;
}

.actions {
	margin: .8em auto;
}

.nav.nav-tabs {
	margin-bottom: .8em;
}

.btn.btn-primary {
	background: #56c6d6;
	color: #FFF;
	border: 0;
}